# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/


# Expo
.expo/
dist/
web-build/

# Native generated folders
ios/
android/

# Environment files
.env
.env.*
.env*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Native signing / keys
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Kotlin
.kotlin/

# Metro
.metro-health-check*
